.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #4654a0;
    text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #4654a0;
}


.arty {
position: relative;
width: 20%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 15%;
text-align: center;
fill: white;
}

#dak {
position: absolute;
opacity: 100%;
margin-left: 35px;
transition: 0.5s;
}

#dak:hover {
opacity: 0%;
}

#bodem {
  width: 100px;
  height: 100px;
  position: relative;
  animation: myfirst 5s 2;
  animation-direction: alternate;
}

@keyframes myfirst {
  0%   {left: 0px; top: 0px;}
  25%  {left: 200px; top: 0px;}
  50%  {left: 200px; top: 200px;}
  75%  {left: 0px; top: 200px;}
  100% {left: 0px; top: 0px;}
}


footer {
  position: relative;
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
text-align: center;
fill: white;
}

footer p {
  line-height: 7px;
  font-family: 'Advent Pro', sans-serif;
  color: #4654a0;
  
}



